@model Strapi.Models.User


<label>User Name</label>
<input asp-for="username" />
<br />
<label>Email</label>
<input asp-for="email" />
<br />

<label> Join date</label>
<input asp-for="date_string" />
<br />